body {
  background-color: #1f2a2d;
  font-family: "Chakra Petch";
  font-weight: 650;
  color: #000000;
}
.team_card_title,
.team_card_rotation,
.team_card_notes {
  font-size: 18px;
}
#current_page {
  cursor: default;
}
#current_page:hover {
  background-color: #212529;
}
.team_card {
  border: 5px solid;
}
.team_card_pyro {
  border-color: #e7610c;
}
.team_card_cryo {
  border-color: #80fefc;
}
.team_card_anemo {
  border-color: #35d59f;
}
.team_card_dendro {
  border-color: #7cb300;
}
.team_card_electro {
  border-color: #c172f6;
}
.team_card_geo {
  border-color: #e5a410;
}
.team_card_hydro {
  border-color: #01b4f5;
}
.team_card_title_pyro,
.team_card_rotation_pyro,
.team_card_notes_pyro {
  background-color: #e7610c;
}
.team_card_title_hydro,
.team_card_rotation_hydro,
.team_card_notes_hydro {
  background-color: #01b4f5;
}
.team_card_title_geo,
.team_card_rotation_geo,
.team_card_notes_geo {
  background-color: #e5a410;
}
.team_card_title_electro,
.team_card_rotation_electro,
.team_card_notes_electro {
  background-color: #c172f6;
}
.team_card_title_dendro,
.team_card_rotation_dendro,
.team_card_notes_dendro {
  background-color: #7cb300;
}
.team_card_title_cryo,
.team_card_rotation_cryo,
.team_card_notes_cryo {
  background-color: #80fefc;
}
.team_card_title_anemo,
.team_card_rotation_anemo,
.team_card_notes_anemo {
  background-color: #35d59f;
}
.char_equipment {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: 1fr;
}
.char_weapon_container {
  grid-row: 1;
  grid-column: 1;
  display: flex;
  justify-content: right;
  align-items: center;
}
.char_artifact_piece {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}
.char_artifact {
  grid-row: 1;
  grid-column: 1;
}
.char_artifact_container {
  grid-row: 1;
  grid-column: 2;
  display: flex;
  justify-content: left;
  align-items: center;
}
.char_img,
.char_weapon {
  grid-row: 1;
  grid-column: 1;
  display: block;
  height: 76px;
  width: auto;
  background-color: #e58a20;
  border-radius: 10px;
}
.char_weapon,
.char_artifact {
  background-color: #e58a20;
  display: block;
  height: 64px;
  width: auto;
  margin: 5px;
  border-radius: 5px;
}
.char_weapon_4,
.char_artifact_4 {
  background-color: #906fb4;
}
.char_weapon_3 {
  background-color: #5f96ac;
}
.char_artifact_any,
.char_weapon_any {
  background-color: rgb(169, 168, 164);
}
.char_details {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#title {
  width: 95%;
  padding: 5px;
  border: 3px solid black;
  border-radius: 5px;
  margin-bottom: 8px;
  margin-top: 8px;
  text-align: center;
  font-size: xx-large;
  font-weight: 600;
  cursor: default;
}
#title:hover {
  background-color: #212529;
}
button {
  border-radius: 5px;
  border: 2px solid;
  background-color: rgb(138, 134, 134);
  cursor: pointer;
  font-family: "Chakra Petch";
}
#pagination_view {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin-top: 5px;
}
#pagination_view .btn {
  border: 2px solid black;
}
#page_select {
  background-color: #212529;
  color: white;
  font-weight: bold;
  border: none;
  padding-top: 0px;
  padding-bottom: 0px;
  font-size: large;
  margin-top: 0px;
  margin-bottom: 0px;
  cursor: pointer;
}
.centered,
.centered-v {
  display: flex;
  justify-content: center;
  align-items: center;
}
.centered-v {
  flex-direction: column;
}
footer {
  position: relative;
  text-align: center;
  top: 5px;
  width: 100%;
  background-color: grey;
}
.img_container,
.char_weapon_container {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
}
.char_con,
.char_weapon_refinement,
.char_artifact_2pc {
  grid-row: 1;
  z-index: 1;
  grid-column: 1;
  display: inline-block;
  justify-self: end;
  line-height: 1;
  background-color: rgba(24, 184, 190, 0.841);
  align-self: end;
  padding: 2px;
  border-radius: 5px;
  margin: 2px;
}
.char_weapon_refinement,
.char_artifact_2pc {
  margin-right: 6px;
  margin-bottom: 6px;
}
.char_team_img {
  height: 90px;
  width: auto;
}
.element {
  grid-row: 1;
  z-index: 1;
  grid-column: 1;
  display: flex;
  justify-content: left;
  height: 20px;
  width: auto;
  margin-left: 0.5px;
  margin-top: 1px;
  filter: brightness(1.1);
}
#tiers {
  display: grid;
  gap: 5px;
  margin: 5px;
}
.star_4 {
  background-color: #906fb4;
}
.char_card,
.team_card {
  margin: 5px;
  text-align: center;
  display: inline-block;
  vertical-align: top;
}
.team_card {
  margin: 0px;
}
.team_card_container {
  display: grid;
  gap: 0px;
  margin-top: 5px;
}
.team_card {
  grid-column: 1;
  grid-row: 2;
}
.rank_text {
  display: inline-block;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 5px;
  margin-left: 5px;
}
.team_rank {
  font-size: x-large;
  font-weight: 800;
}
.team_rank_container {
  grid-column: 1;
  grid-row: 1;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 20px auto;
}
.team_rank_container p {
  margin: 0px;
  margin-top: 3px;
  margin-left: 5px;
}
.team_rank {
  display: flex;
  justify-content: center;
  align-items: center;
}
.char_tags {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0px;
  line-height: 0.67;
}
.char_partner_name {
  line-height: 0.7;
}
.card p,
.team_card p {
  margin: 0px;
}
#tiers {
  text-align: center;
}
#tiers p {
  margin: 5px;
}
.tier {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  margin: auto;
}
@media (min-width: 768px) {
  .team_card {
    grid-row: 1;
    grid-column: 2;
  }
  .tier {
    grid-template-rows: 1fr;
    grid-template-columns: repeat(3, 1fr);
  }
  #sliders {
    grid-template-columns: repeat(2, 1fr);
    margin-left: 10vw;
    margin-right: 10vw;
  }
  #list,
  #team {
    margin-left: 10vw;
    margin-right: 10vw;
    width: 100%;
  }
  #list {
    margin-right: 0vw;
  }
  #team {
    margin-left: 0.5vw;
  }
  #element_slider {
    grid-column: 1;
    grid-row: 2;
    justify-content: center;
  }
  #weapon_slider {
    grid-row: 1;
    grid-column: 1;
  }
  #search_slider {
    grid-row: 1;
    grid-column: 2;
    justify-content: center;
  }
  .team_card_notes,
  .team_card_rotation {
    font-size: 18px;
    word-wrap: break-word;
    white-space: normal;
    max-width: 0;
    min-width: 100%;
    box-sizing: border-box;
    padding: 5px;
  }
}
.element_slider_image,
.weapon_slider_image,
.rarity_slider_image {
  height: 24px;
  width: auto;
  margin: 3px;
}
.element_slider_button,
.weapon_slider_button,
.rarity_slider_button {
  height: 40px;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}
/* .active_button {
  background-color: rgb(16, 104, 199);
} */
#sliders {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 5px;
  margin-top: 5px;
}
#sliders button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1.5px solid black;
}
#search_input {
  height: 80%;
}
#sliders > div {
  display: flex;
  align-items: center;
  justify-content: center;
}
#tiers > p {
  font-size: x-large;
}
.category {
  font-size: large;
}
.element_slider_button,
.weapon_slider_button,
.rarity_slider_button,
#search_input,
#list,
#team {
  width: 100%;
}
#list,
#team {
  padding: 10px;
  font-weight: bold;
  font-size: medium;
  border: 3px solid black;
}
.element_slider_image,
.weapon_slider_image {
  max-width: 100%;
}
#T0 > div {
  border: 2px solid red;
}
#T1 > div {
  border: 2px solid orange;
}
#T2 > div {
  border: 2px solid yellow;
}
#T3 > div {
  border: 2px solid green;
}
#T4 > div {
  border: 2px solid rgb(0, 187, 255);
}
#T5 > div {
  border: 2px solid rgb(7, 62, 173);
}
#T6 > div {
  border: 2px solid rgb(28, 28, 134);
}
#title0,
#T0 .category {
  background-color: red;
}
#title1,
#T1 .category {
  background-color: orange;
}
#title2,
#T2 .category {
  background-color: yellow;
}
#title3,
#T3 .category {
  background-color: green;
}
#title4,
#T4 .category {
  background-color: rgb(0, 187, 255);
}
#title5,
#T5 .category {
  background-color: rgb(7, 62, 173);
}
#title6,
#T6 .category {
  background-color: rgb(28, 28, 134);
}
.char_name {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #c0c0c0;
}
.char_role {
  color: #c0c0c0;
}
.char_expert {
  color: rgb(247, 57, 4);
}
.char_partner {
  color: rgb(30, 187, 30);
  margin-top: 5px;
  margin-bottom: 5px;
}
.char_signature {
  color: rgb(231, 199, 17);
}
.char_stellar {
  color: rgb(148, 116, 237);
  font-style: italic;
  font-weight: 700;
  text-shadow:
    1px 1px 0 rgba(255, 255, 255, 0.6),
    -1px -1px 0 rgba(0, 0, 0, 0.25),
    0 0 4px rgba(255, 255, 255, 0.4);
}
.char_lunar {
  color: rgb(0, 187, 255);
  font-style: italic;
  font-weight: 700;
  text-shadow:
    1px 1px 0 rgba(255, 255, 255, 0.6),
    -1px -1px 0 rgba(0, 0, 0, 0.25),
    0 0 4px rgba(255, 255, 255, 0.4);
}
.char_hexerei {
  color: darkorange;
  font-style: italic;
  font-weight: 700;
  text-shadow:
    1px 1px 0 rgba(255, 255, 255, 0.6),
    -1px -1px 0 rgba(0, 0, 0, 0.25),
    0 0 4px rgba(255, 255, 255, 0.4);
}
