body {
  background-color: rgb(56, 53, 53);
  font-family: "Chakra Petch";
  font-weight: 650;
}
.char_details {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#title {
  background-color: rgb(138, 134, 134);
  width: fit-content;
  padding: 5px;
  border: 3px solid black;
  border-radius: 5px;
  margin-bottom: 8px;
  margin-top: 8px;
}
button {
  border-radius: 5px;
  border: 2px solid;
  background-color: rgb(138, 134, 134);
  cursor: pointer;
  font-family: "Chakra Petch";
}
.centered,
.centered-v {
  display: flex;
  justify-content: center;
  align-items: center;
}
.centered-v {
  flex-direction: column;
}
footer {
  position: relative;
  text-align: center;
  top: 5px;
  width: 100%;
  background-color: grey;
}
.img_container {
  display: grid;
  grid-template-rows: 1;
  grid-template-columns: 1;
}
.char_con {
  grid-row: 1;
  z-index: 1;
  grid-column: 1;
  display: inline-block;
  justify-self: end;
  line-height: 1;
  background-color: rgba(24, 184, 190, 0.841);
  align-self: end;
  padding: 2px;
  border-radius: 5px;
  margin: 2px;
}
.char_img {
  grid-row: 1;
  grid-column: 1;
}
.element {
  grid-row: 1;
  z-index: 1;
  grid-column: 1;
  display: flex;
  justify-content: left;
  height: 20px;
  width: auto;
  margin-left: 0.5px;
  margin-top: 1px;
  filter: brightness(1.1);
}
#tiers {
  display: grid;
  gap: 5px;
  margin: 5px;
}
.char_img {
  height: 76px;
  width: auto;
  background-color: #e58a20;
  border-radius: 10px;
}
.star_4 {
  background-color: #906fb4;
}
.card {
  margin: 5px;
  text-align: center;
  display: inline-block;
  vertical-align: top;
}
.char_tags {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0px;
  line-height: 0.67;
}
.card p {
  margin: 0px;
}
#tiers {
  text-align: center;
}
#tiers p {
  margin: 5px;
}

.tier {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);

  margin: auto;
}
@media (min-width: 768px) {
  .tier {
    grid-template-rows: 1fr;
    grid-template-columns: repeat(3, 1fr);
  }
  #sliders {
    grid-template-columns: repeat(2, 1fr);
    margin-left: 10vw;
    margin-right: 10vw;
  }
  #list,
  #team {
    margin-left: 10vw;
    margin-right: 10vw;
    width: 100%;
  }
  #list {
    margin-right: 0vw;
  }
  #team {
    margin-left: 0.5vw;
  }
  #element_slider {
    grid-column: 1;
    grid-row: 2;
    justify-content: center;
  }
  #weapon_slider {
    grid-row: 1;
    grid-column: 1;
  }
  #search_slider {
    grid-row: 1;
    grid-column: 2;
    justify-content: center;
  }
}

.element_slider_image,
.weapon_slider_image,
.rarity_slider_image {
  height: 24px;
  width: auto;
  margin: 3px;
}
.element_slider_button,
.weapon_slider_button,
.rarity_slider_button {
  height: 40px;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}
.active_button {
  background-color: rgb(16, 104, 199);
}
#sliders {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 5px;
  margin-top: 5px;
}
#search_input {
  height: 80%;
}
#sliders > div {
  display: flex;
  align-items: center;
  justify-content: center;
}
#tiers > p {
  font-size: x-large;
}
.category {
  font-size: large;
}
.element_slider_button,
.weapon_slider_button,
.rarity_slider_button,
#search_input,
#list,
#team {
  width: 100%;
}
#list,
#team {
  padding: 10px;
  font-weight: bold;
  font-size: medium;
  border: 3px solid black;
}
.element_slider_image,
.weapon_slider_image {
  max-width: 100%;
}
#T0 > div {
  border: 2px solid red;
}
#T1 > div {
  border: 2px solid orange;
}
#T2 > div {
  border: 2px solid yellow;
}
#T3 > div {
  border: 2px solid green;
}
#T4 > div {
  border: 2px solid rgb(0, 187, 255);
}
#T5 > div {
  border: 2px solid rgb(7, 62, 173);
}
#T6 > div {
  border: 2px solid rgb(28, 28, 134);
}
#title0,
#T0 .category {
  background-color: red;
}
#title1,
#T1 .category {
  background-color: orange;
}
#title2,
#T2 .category {
  background-color: yellow;
}
#title3,
#T3 .category {
  background-color: green;
}
#title4,
#T4 .category {
  background-color: rgb(0, 187, 255);
}
#title5,
#T5 .category {
  background-color: rgb(7, 62, 173);
}
#title6,
#T6 .category {
  background-color: rgb(28, 28, 134);
}
.char_name {
  display: flex;
  justify-content: center;
  align-items: center;
}
.char_expert {
  color: rgb(247, 57, 4);
}
.char_partner {
  color: rgb(30, 187, 30);
}
