.centered,
.centered-v {
  display: flex;
  justify-content: center;
  align-items: center;
}
.centered-v {
  flex-direction: column;
}
footer {
  position: fixed;
  text-align: center;
  bottom: 5px;
  width: 100%;
  background-color: grey;
}
#tiers {
  display: grid;
  gap: 5px;
  margin: 5px;
}
.char_img {
  height: 60px;
  width: auto;
  background-color: #e58a20;
  border-radius: 10px;
}
.star_4 {
  background-color: #906fb4;
}
.card {
  margin: 5px;
  text-align: center;
  display: inline-block;
}
.card p {
  margin: 0px;
}
#tiers {
  text-align: center;
}
#tiers p {
  margin: 5px;
}
.element {
  height: 15px;
  width: auto;
}
.tier {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3,1fr);
  margin:auto;
}
@media (min-width: 768px){
  .tier{
    grid-template-rows: 1fr;
  grid-template-columns: repeat(3,1fr);
  }
}

